@import url(//db.onlinewebfonts.com/c/1691c10174792612d1acc3782aac2038?family=DesignSystemAW01-700I)

@font-face
  font-family: 'Digital'
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot')
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'), url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7') format('svg')

$btnShadow: -2px 2px 3px 0 #171412
$btnHoverShadow: -1px 1px 2px 0 #171412

body
  background-color: #c0c0c0

#calculator
  width: 240px
  background-color: #fff0dd
  margin: auto
  margin-top: 5em
  border-radius: 5px
  padding: 10px
  box-shadow: 0 0 3px 1px #171412
  border: 4px solid #ffc67e
  span
    font-size: 10pt
    font-family: 'DesignSystemAW01-700I'
    color: #b8860b

#signature
  margin-left: auto
  margin-right: auto
  text-align: center

a
  font-size: 10pt
  font-family: 'DesignSystemAW01-700I'
  color: #b8860b
  text-decoration: none

#full-display
  font-family: 'Digital'
  background-color: #171412
  border: 3px solid #ffc67e
  color: #ff9933
  text-align: end
  padding: 3px
  box-shadow: inset 0 0 12px 3px grey
  p
    margin: 10px 0
    margin-right: 10px

#display
  font-size: 24pt
  color: whitesmoke

#top-display
  height: 6px

.keyboard
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 216px
  margin: 10px auto 10px auto

.btn-small
  $padding: 6px
  width: 48px
  margin: 3px
  background-color: gray
  font-size: 24pt
  text-align: center
  border-radius: 5px
  padding-top: $padding
  padding-bottom: $padding
  box-shadow: $btnShadow
  &:hover
    box-shadow: $btnHoverShadow
  &:active
    box-shadow: 0 0 1px 0 #171412
  
#add, #subtract, #multiply, #divide
  background-color: #5c5c5c

.btn-wide
  @extend .btn-small
  width: 102px

#clear
  background-color: #800000
  color: whitesmoke

#equals
  background-color: #3c6491
  color: whitesmoke