.btn-small {
  width: 48px;
  height: 48px;
  background-color: #444;
  color: antiquewhite;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
}

.keyboard {
  display: flex;
  width: 216px;
  flex-wrap: wrap;
}

#display {
  background-color: #100c08;
  color: #eff3f7;
  text-align: end;
  padding: 5px;
}

#calculator {
  width: 220px;
  margin: auto;
}
